<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseñas de películas y series</title>
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css>

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="#">CoderHouse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'series' %}" class="nav-link">Series</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'capitulos' %}" class="nav-link">Capitulos</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'peliculas' %}" class="nav-link">Peliculas</a>
                </li>
    
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'crearCapitulo' %}" class="nav-link">Crear Capitulo</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'crearSerie' %}" class="nav-link">Crear Serie</a>
                </li>
                <li>
                    <a href="{% url 'crearPelicula' %}" class="nav-link">Crear Pelicula</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'signin' %}" class="nav-link">Iniciar sesion</a>
                </li>
                
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>


    
    {% block content %}
    {% endblock %}
</body>
</html>

