{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui obcaecati asperiores quaerat. Sint soluta, sapiente exercitationem aspernatur nisi numquam totam delectus corrupti non id atque quam eaque architecto, temporibus officia odio itaque at cupiditate recusandae est reiciendis cum dicta! Eveniet quo asperiores odio dolorem at. Incidunt maiores vel nulla a quia quae tempora saepe quod ea atque veritatis accusantium, eos architecto optio fugiat eum possimus eaque perspiciatis at ab veniam adipisci magnam vero dolore? Officiis atque nihil omnis quaerat quae. Reiciendis, eum illum omnis recusandae minima perspiciatis itaque? Fuga molestias provident, sed rerum nostrum quos ducimus itaque maiores repellendus soluta?</p>

<p>Website created by {{username}}</p>

{% endblock %}